<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="Katashi Hana">
    <title>Katashi Hana - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="LoL Human APIs">
    <meta property="og:title" name="og:title" content="Katashi Hana - REST APIs">
    <meta property="og:url" name="og:url" content="https://api.lolhuman.xyz/">
    <meta property="og:image" name="og:image" content="https://api.lolhuman.xyz/static/icon/android-icon-192x192.png">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="57x57" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="60x60" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="icon" type="image/png" sizes="96x96" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="https://telegra.ph/file/ef1c969c9227e6c0ae564.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://api.lolhuman.xyz/">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/fontawesome5/css/all.min.css">
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/flaticon/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/css/black-dashboard.min.css">
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/css/style.css">
</head>
 
<body class="dark-mode" data-background-color="dark">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper card-round">
                <div class="logo text-center">
                    <a href="/" class="simple-text logo-normal" style="font-size: large;">
                        Katashi Hana APIs
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="/docs">
                            <i class="fi-rr-cookie"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/changelog">
                            <i class="fi-rr-refresh"></i>
                            <p>Changelog</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="/islami">
                            <i class="far fa-quran"></i>
                            <p>Islami</p>
                        </a>
                    </li>
                    <li>
                        <a href="/downloader">
                            <i class="fi-rr-download"></i>
                            <p>Downloader</p>
                        </a>
                    </li>
                    <li>
                        <a href="/movie">
                            <i class="fi-rr-video-camera"></i>
                            <p>Movie & Story</p>
                        </a>
                    </li>
                    <li>
                        <a href="/textprome">
                            <i class="fi-rr-text"></i>
                            <p>Text Pro Me</p>
                        </a>
                    </li>
                    <li>
                        <a href="/photooxy">
                            <i class="fi-rr-camera"></i>
                            <p>Photo Oxy</p>
                        </a>
                    </li>
                    <li>
                        <a href="/ephoto">
                            <i class="fi-rr-cursor-text"></i>
                            <p>Ephoto 360</p>
                        </a>
                    </li>
                    <li>
                        <a href="/searching">
                            <i class="fi-rr-search-alt"></i>
                            <p>Searching</p>
                        </a>
                    </li>
                    <li>
                        <a href="/randomimage">
                            <i class="fi-rr-gallery"></i>
                            <p>Random Image</p>
                        </a>
                    </li>
                    <li>
                        <a href="/randomtext">
                            <i class="fi-rr-align-center"></i>
                            <p>Random Text</p>
                        </a>
                    </li>
                    <li>
                        <a href="/animanga">
                            <i class="fi-rr-crown"></i>
                            <p>AniManga</p>
                        </a>
                    </li>
                    <li>
                        <a href="/information">
                            <i class="fi-rr-info"></i>
                            <p>Information</p>
                        </a>
                    </li>
                    <li>
                        <a href="/game">
                            <i class="fal fa-gamepad-alt"></i>
                            <p>Game</p>
                        </a>
                    </li>
                    <li>
                        <a href="/creator">
                            <i class="fi-rr-magic-wand"></i>
                            <p>Creator</p>
                        </a>
                    </li>
                    <li>
                        <a href="/converter">
                            <i class="fal fa-recycle"></i>
                            <p>Converter</p>
                        </a>
                    </li>
                    <li>
                        <a href="/primbon">
                            <i class="fi-rr-password"></i>
                            <p>Primbon (COMING SOON)</p>
                        </a>
                    </li>
                    <li>
                        <a href="/stalking">
                            <i class="fi-rr-stats"></i>
                            <p>Stalking</p>
                        </a>
                    </li>
                    <li style="margin-bottom: 8rem !important;">
                        <a href="/other">
                            <i class="fi-rr-tooth"></i>
                            <p>Other</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
            <div class="content">
 
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-timeline card-plain" style="background-color: transparent;">
                            <div class="card-body">
                                <ul class="timeline" style="height: 100%;">
 
                                    <li class='timeline-inverted'>
                                        <div class='timeline-badge danger'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">22-09-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>Downloader -> Youtube Reels</li>
 
                                                    <li>Random Image -> PP Couple</li>
 
                                                    <li>Information -> Cek Tagihan Listrik (POST PAID)</li>
 
                                                    <li>AniManga -> Doujindesu Latest, Doujindesu Search</li>
 
                                                    <li>Converter -> Convert to PDF</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class=''>
                                        <div class='timeline-badge danger'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">18-08-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>Downloader -> SFile Mobi, Solidfiles</li>
 
                                                    <li>Searching -> Search Kata Bijak, Pixiv Search 2</li>
 
                                                    <li>News -> Detik News, Jalan Tikus</li>
 
                                                    <li>Other -> Bypass Mirror Creator, Bypass OuO</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class='timeline-inverted'>
                                        <div class='timeline-badge danger'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">03-08-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>Downloader -> Snack Video</li>
 
                                                    <li>Random Image -> Delete Anime Belly Button</li>
 
                                                    <li>Text Pro Me -> Delete Advance Glow, Magma, Impressive Glitch, Harry Potter, Foggy Window, Water Color, Wonderful Graffiti, Cool Gravity</li>
 
                                                    <li>Photo Oxy -> Delete Letter Leaves, Delete Glowing Neon</li>
 
                                                    <li>Searching -> Wallpaper 3, Group WhatsApp 2</li>
 
                                                    <li>AniManga -> Kusonime Search 2</li>
 
                                                    <li>Information -> Wikipedia 2, GSMArena Detail</li>
 
                                                    <li>News -> CNN Indonesia Ekonomi, CNN Indonesia Olahraga, CNN Indonesia Teknologi, CNN Indonesia Hiburan, CNN Indonesia Social</li>
 
                                                    <li>Game -> Genshin Impact move to here, Growtopia move to here, Grow Wiki move to here, Growtopia Event move to here, Growstocks move to here, Osu User move to here, Hero Mobile Legend move to here, Mobile Legend Username move to here, Free Fire Username move to here</li>
 
                                                    <li>Meme -> Random Meme move to here, Dark Joke move to here, Meme Indo move to here, Meme Generator move to here, Meme Creator move to here, Meme Creator 1 move to here, Meme Creator 2 move to here, Meme Creator 3 move to here, Meme Creator 4 move to here, Meme Creator 5 move to here, Meme Creator 6 move to here, Meme Creator 7 move to here, Meme Creator 8 move to here, Kanna Generator move to here, Change My Mind move to here, Oh No move to here</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class=''>
                                        <div class='timeline-badge danger'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">12-08-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>Downloader -> Instagram Reel, APK Downloader</li>
 
                                                    <li>AniManga -> Dubbedanime Ongoing, Dubbedanime Trending, Dubbedanime Detail</li>
 
                                                    <li>Creator -> Meme Creator 1, Meme Creator 2, Meme Creator 3, Meme Creator 4, Meme Creator 5, Meme Creator 6, Meme Creator 7, Meme Creator 8</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class='timeline-inverted'>
                                        <div class='timeline-badge success'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-success">25-07-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>Information -> Grow Wiki, Osu User</li>
 
                                                    <li>Searching -> Domain Search, Domain Check, Place Search</li>
 
                                                    <li>Entertainment -> Asah Otak, Tebak Kata, Susun Kata</li>
 
                                                    <li>Primbon -> Zodiak</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class=''>
                                        <div class='timeline-badge danger'>
                                            <i class="tim-icons icon-refresh-02"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <span class="badge badge-pill badge-danger">29-06-2021</span>
                                            </div>
                                            <div class="timeline-body">
                                                <ul>
 
                                                    <li>News -> CNN Indonesia move to here, CNN Indonesia Nasional move to here, CNN Indonesia Internasional move to here, Kumparan, Republika, Liputan 6</li>
 
                                                    <li>Information -> Growtopia Event, Growstocks</li>
 
                                                    <li>AniManga -> What Manga Is This</li>
 
                                                    <li>Entertainment -> Tebak Character Anime</li>
 
                                                    <li>Converter -> File to Url, Url to File</li>
 
                                                    <li>Other -> Shortlink 3, Shortlink 4</li>
 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
            <footer class="footer fixed-bottom">
                <div class="copyright text-center my-auto">
                    Made with <i class="fa fa-heart"></i> by
                    <a href="https://www.instagram.com/k4t4sh1._" target="_blank" rel="nofollow">Katashi Hana</a>
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/core/jquery.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/core/popper.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/core/bootstrap.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/plugins/bootstrap-notify.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/black-dashboard.min.js"></script>
    <script src="https://api.lolhuman.xyz/static/js/script.js"></script>
</body>
 
</html>
 
</html>
 
</html>